<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Tesng">
    <classes>
      <class name="TESTNG_TESTS.Test1"/>
      <class name="TESTNG_TESTS.Test2"/>
    </classes>
  </test> <!-- Tesng -->
</suite> <!-- Suite -->
